/* body {
    background-color: rgb(126, 124, 124);
    color: white;
} */
body {
    background-image: url("../public/shattered-island.gif");
    background-size: auto;
    background-repeat: no-repeat center center cover;
    color: white;
    font-family: Comic Sans;
}

.Jeff {
    font-size: 80px;
}

i.bi {
    font-size: 50px;
}

.container-fluid {
    padding: 25px;
    font-size: 20px;
}

@media (min-width: 576px) {
    .d-flex {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .Jeff{
        font-size: 60px;
    }
    .social{
        width: 200px;
    }

}

.card {
    background-color: #53565bbc;
    outline: 2px solid rgb(111, 104, 104);

}

.card1 {
    width: 500px;
    height: 500px;
    border: 5px;
    border-radius: 24px;
    background: #188586;
    box-shadow: -26px -26px 3px #136869,
        26px 26px 3px #1da2a3;
}

.nav {
    font-size: 22px;
}

.flag {
    width: 30px;
    height: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    float: right;
}

.peru {
    background: linear-gradient(to right,
            #db071e 33%,
            #fff 33%,
            #fff 66%,
            #db071e 0);
}

.col-project{
    width: 450px;
}
.icon-badge{
    font-size: 45px
}
.social{
    width: 500px;
}